@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&display=swap');
/* filter */

body {
    background-color: #e9ecf1 !important;
}

#mitarbeiter1, #mitarbeiter2, #mitarbeiter3, #mitarbeiter4, .titel {
    font-family: "DM Serif Display";
    font-size: 2em;
}

#steckbrief1, #besschrieb1, #besschrieb3, #besschrieb4, h3, p{
    font-size: 1em;
    font-family: Raleway, sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#textinhalt1, #textinhalt2, #textinhalt3, #textinhalt4 {
    padding: 3em !important;
}

/* Show more / Show less */
#besschrieb1, #besschrieb2, #besschrieb3, #besschrieb4 {
    width: 650px;
    max-height: 0;
    overflow: hidden;
}

#besschrieb1.open, #besschrieb2.open, #besschrieb3.open, #besschrieb4.open {
    max-height: 1000px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#besschrieb1.close, #besschrieb2.close, #besschrieb3.close, #besschrieb4.close {
    max-height: 0;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more1, #show-more2, #show-more3, #show-more4 {
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}

.container {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px 0 100px;
    margin-top: 50px;
}
#einleitung {
    width: 50%;
    margin: auto;
    text-align: center;
}

#formularEinleitung {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#startbild{
    padding: 80px;
    width: 100%;
}
nav{
    background-color: #e9ecf1 !important;
}

#form {
    margin: 0 300px;

}
form{
    font-family: Raleway, sans-serif;
}

.form-eingabefeld {
    color:black;
    font-family: Raleway, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #4a4e69;
    transition: all 0.3s;
    padding: 13px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.form-eingabefeld:focus { border:2px solid #4a4e69; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: Raleway, sans-serif;
    width: 100%;
    background: #4a4e69;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#22223c; }

hr{
    color: #22223c;
}
.toggle-buttons input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.form-control {
    margin-bottom: 10px;
    padding: 0 0 0 0 !important;
    position: relative;
    background-color: #e9ecf1 !important;
    border: 0px !important;
}

.form-control label {
    display: inline-block;
}

.form-control input {
    display: block;
}

.form-control.success input {
    border-color: #2ecc71 !important;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control select {
    display: block;
}

.form-control.success select {
    border-color: #2ecc71 !important;
}

.form-control.error select {
    border-color: #e74c3c;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}



